@import '../../../../utils/variables.scss';

.seller-add-product__container {
    margin: 30px;
    background-color: $white;
    border-radius: 10px;
    --webkit-box-shadow: 2px 4px 10px 1px $webkitShadow;
    box-shadow: 2px 4px 10px 1px $shadow;

    .seller-add-product__title {
        font-size: 24px;
        margin: 0 0 30px 30px;
        padding-top: 30px;
        color: $black;
        font-weight: bold;
    }

    .seller-add-product__basic-infor {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;

        .seller-basic-infor__product-img,
        .seller-basic-infor__product-name,
        .seller-basic-infor__category,
        .seller-basic-infor__product-desc,
        .seller-basic-infor__discount,
        .seller-basic-infor__price,
        .seller-basic-infor__stock {
            display: flex;
            margin-left: 30%;
            gap: 5%;

            .seller-basic-infor__upload-img {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1px;
            }
        }

        .seller-basic-infor__upload-img:hover {
            cursor: pointer;
        }

        .seller-basic-infor__title {
            width: 20%;
            display: flex;
            gap: 1rem;
            height: 37px;
            line-height: 37px;
            align-items: center;
        }

        .seller-basic-infor__input {
            width: 50%;
        }
    }

    .seller-add-product__btn {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        padding-bottom: 30px;
    }
}