@import "../../../utils/variables.scss";

.root {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.sliderContainer {
  display: flex;
  // height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.slider {
  flex: 0 0 100%;
}

.indexContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.imageBanner {
  border-radius: 5;
}

.index {
  color: $white;
  width: 10;
}

.activeIndex {
  opacity: 1;
  color: $error;
}

// 40px < tablet width < 1194px
@media only screen and (min-width: 46.1875em) and (max-width: 1194px) {
  .root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
  }

  .sliderContainer {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }

  .slider {
    flex: 0 0 100%;
  }

  .indexContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .imageBanner {
    border-radius: 5;
  }

  .index {
    color: $white;
    width: 10;
  }

  .activeIndex {
    opacity: 1;
    color: $error;
  }
}

// 740px < tablet width < 1194px
@media only screen and (min-width: 340px) and (max-width: 740px) {
  .root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
  }
}