@import url("https://fonts.googleapis.com/css?family=Kanit");

$primary: #132b4f;
$secondary: #f4f8ff;
$tertiary: #f4fff5;
$quaternary: #a5d7e8;
$success: #57ca22;
$warning: #ffa319;
$error: #dc1b1b;
$info: #33c2ff;
$black: #000;
$white: #ffffff;
$primaryAlt: #000c57;
$text: rgb(38, 51, 82);
$avatar: #F4D148;
$darkYellow: #A38B30;
$gray: #ccc;
$textGray: #303030;
$borderDividerAndDesc: #bbbbbf;
$hover: rgba(187, 187, 191, 0.2);
$hoverHeavy: rgb(248, 248, 248);
$counter: #0093FE;
$sellerPrimary: #07182F;
$sellerSecondary: #0B2447;
$chart: #82CA9D;
$sellerHeader: #555;
$shadow: rgba(201, 201, 201, 0.47);
$webkitShadow: rgba(0, 0, 0, 0.47);
$orders: #FF7F00;
$orderInfors: rgba(187, 187, 191, 0.4);
$orderStatus: rgba(255, 127, 0, 0.2);
$primary-darker: #091d3a;
$bg-color: #EDEDED;
$bolder: #ddd7c1;
$red: #D63031;
$red-blur: #FFE2E2;
$grayer: #8e8e8e;
$performanceData: #5c7;
$hoverButton: #970000;